<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigzhao.jianrmagicbox"
    platformBuildVersionCode="17"
    platformBuildVersionName="4.2.2-1425461"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="2.3.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22"/>
    <uses-feature android:glEsVersion="0x00020000"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dcpp"/>
        <activity android:name="com.bigzhao.janrmagicbox.MagicBoxMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.cocos2dx.cpp.AppActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            android:exported="true"
        </activity>
        <activity
            android:name="com.iapppay.openid.channel.ipay.ui.LoginActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.openid.channel.ipay.ui.RegistActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.openid.channel.ipay.ui.RegSetPwdActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.openid.channel.ipay.ui.WebActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.AccountCheckPasswordActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.iapppay.ui.activity.AccountModifyPasswordActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountPasswordActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountValueActivty"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.ServiceCenterActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarNoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarMoreInfoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.fastpay.ui.VerificationCodeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.fastpay.ui.CommonWebActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.normalpay.PayHubActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.minipay.MiniPayHubActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.iapppay.ui.activity.iapppay.IAppPayHubActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.minipay.BankCardActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.ui.activity.normalpay.ChargeActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.pay.channel.gamepay.GamepayActivity"
            android:configChanges="screenSize|orientation|navigation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.iapppay.pay.channel.unionpay.UpPayResultActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.iapppay.pay.channel.ecopay2.EcoPay2ResultActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="navigation|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.TenpayWapPayActivity"
            android:configChanges="layoutDirection|screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.WebActivity"
            android:configChanges="layoutDirection|screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.payeco.android.plugin.PayecoCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.payeco.android.plugin.PayecoVedioActivity"
            android:process="com.payeco.android.plugin.vedio"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="com.tencent.android.tpush.action.SDK"/>
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>

                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.huanmeng.receiver.HMAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ELITOR_CLOCK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.huanmeng.receiver.NotificationReceiver"/>

        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2"/>
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huanmeng.zhanjian2.PUSH_ACTION"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100183227"/>
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AQ94DWH4H98V"/>
    </application>
</manifest>
